In [3]:
import pandas as pd #read files
from pathlib import Path

In [222]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/Non-Products/'
file_names = ['evansLi.csv','missdivaLi.csv','yoursLi.csv','tekshopLi.csv','skatesLi.csv','portopetsLi.csv','rollerbladeLi.csv','cabinetshopLi.csv']

# Create an empty DataFrame to store merged data
li_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    li_df = pd.concat([li_df, productCSV], ignore_index=True)

li_df['category'] = "li"
# Save the merged DataFrame to a new CSV file
li_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/Lis.csv', index=False)

In [228]:
div_df

NameError: name 'div_df' is not defined

In [240]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/str/'
file_names = ['evansItems.csv','missdivaItems.csv','yoursItems.csv','tekshopItems.csv','skatesItems.csv','portopetsItems.csv','rollerbladeItems.csv','cabinetshopItems.csv']

# Create an empty DataFrame to store merged data
products_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    products_df = pd.concat([products_df, productCSV], ignore_index=True)
products_df['category'] = "Product"
# Save the merged DataFrame to a new CSV file
products_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/Products.csv', index=False)

In [242]:
products_df

,html,name,price,category
0,"<div class=""associated-product associated-prod...",EVANS Curve Rust Orange Leaf Print Linen Midi ...,£45,Product
1,"<div class=""associated-product associated-prod...",EVANS Curve Blue Abstract Print Twist Front Ma...,£45,Product
2,"<div class=""associated-product associated-prod...",EVANS Curve Black V-Neck Modal Rich T-Shirt,£18,Product
3,"<div class=""associated-product associated-prod...",EVANS Curve Black Linen Jogger,£35,Product
4,"<div class=""associated-product associated-prod...",EVANS Curve Natural Cream Mixed Leopard Print ...,£42,Product
...,...,...,...,...
1944,"<li class=""grid__item"">\n<link href=""//thecabi...",2 Drawer TV Stand M1,£239.59 GBP,Product
1945,"<li class=""grid__item"">\n<link href=""//thecabi...",Mid Quad Bookcase M1,£0.00 GBP,Product
1946,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Quad Bookcase M1,£181.76 GBP,Product
1947,"<li class=""grid__item"">\n<link href=""//thecabi...",Low 6 Drawer Chest M2,£364.62 GBP,Product
1948,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Triple Cupboard M2,£210.45 GBP,Product

In [244]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/ModelTraining/'
file_names = ['NonProducts.csv','Products.csv']

combined_df = pd.concat( 
    map(pd.read_csv, [file_path+'Lis.csv',file_path+'Divs.csv', file_path+'Products.csv']), ignore_index=True)

In [246]:
combined_df.to_csv(file_path+'combinedElements.csv')

In [247]:
combined_df

,html,name,price,category
0,"<li class=""mr-3 float-left"">\n<a class=""text-b...",NaN,NaN,li
1,"<li class=""mr-3 float-left"">\n<a class=""text-b...",NaN,NaN,li
2,"<li class=""mr-3 float-left"">\n<a class=""text-b...",NaN,NaN,li
3,"<li class=""breadcrumb-item"">\n<a class=""btn bt...",NaN,NaN,li
4,"<li class=""breadcrumb-item"">\n<a class=""btn bt...",NaN,NaN,li
...,...,...,...,...
5226,"<li class=""grid__item"">\n<link href=""//thecabi...",2 Drawer TV Stand M1,£239.59 GBP,Product
5227,"<li class=""grid__item"">\n<link href=""//thecabi...",Mid Quad Bookcase M1,£0.00 GBP,Product
5228,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Quad Bookcase M1,£181.76 GBP,Product
5229,"<li class=""grid__item"">\n<link href=""//thecabi...",Low 6 Drawer Chest M2,£364.62 GBP,Product
5230,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Triple Cupboard M2,£210.45 GBP,Product

In [212]:
shop = "rollerblade"
c = pd.read_csv('/Users/Tico/Documents/Masters/LaMona/CSV/Non-Products/'+shop+'Div.csv')
c

                                                  html  name  price
0    <div class="shopify-cart-layout d-none">\n<div...   NaN    NaN
1              <div class="shopify-cart-loader"></div>   NaN    NaN
2    <div class="search-wrap">\n<div class="search-...   NaN    NaN
3    <div class="search-close">\n<div class="icon i...   NaN    NaN
4    <div class="icon icon--close">\n<div></div>\n<...   NaN    NaN
..                                                 ...   ...    ...
289  <div class="dropdown">\n<button aria-expanded=...   NaN    NaN
290  <div aria-labelledby="dropdownMenuButton" clas...   NaN    NaN
291  <div class="zero_ris d-none"><h2>No result fou...   NaN    NaN
292  <div class="prodList skates">\n<div class="row...   NaN    NaN
293  <div class="row lista_prodotti_iso ordinati">\...   NaN    NaN

[294 rows x 3 columns]