In [1]:
import pandas as pd #read files
from pathlib import Path

In [99]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/Non-Products/'
file_names = ['evansLi.csv','missdivaLi.csv','yoursLi.csv','tekshopLi.csv','skatesLi.csv','portopetsLi.csv','rollerbladeLi.csv','cabinetshopLi.csv']

# Create an empty DataFrame to store merged data
div_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    div_df = pd.concat([div_df, productCSV], ignore_index=True)
div_df['category'] = "Li"
del div_df['name'] 
del div_df['price'] 
# Save the merged DataFrame to a new CSV file
div_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/Lis.csv', index=False)

In [101]:
div_df

                                                   html category
0     <li class="mr-3 float-left">\n<a class="text-b...       Li
1     <li class="mr-3 float-left">\n<a class="text-b...       Li
2     <li class="mr-3 float-left">\n<a class="text-b...       Li
3     <li class="breadcrumb-item">\n<a class="btn bt...       Li
4     <li class="breadcrumb-item">\n<a class="btn bt...       Li
...                                                 ...      ...
1487  <li class="list-payment__item">\n<svg aria-lab...       Li
1488  <li class="list-payment__item">\n<svg aria-lab...       Li
1489  <li class="list-payment__item">\n<svg aria-lab...       Li
1490  <li id="a11y-refresh-page-message">Choosing a ...       Li
1491  <li id="a11y-new-window-message">Opens in a ne...       Li

[1492 rows x 2 columns]

In [29]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/str/'
file_names = ['evansItems.csv','missdivaItems.csv','yoursItems.csv','tekshopItems.csv','skatesItems.csv','portopetsItems.csv','rollerbladeItems.csv','cabinetshopItems.csv']

# Create an empty DataFrame to store merged data
products_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    products_df = pd.concat([products_df, productCSV], ignore_index=True)
products_df['category'] = "Product"
# Save the merged DataFrame to a new CSV file
products_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/Products.csv', index=False)

In [31]:
products_df

,html,name,price,category
0,"<div class=""associated-product associated-prod...",EVANS Curve Rust Orange Leaf Print Linen Midi ...,£45,Product
1,"<div class=""associated-product associated-prod...",EVANS Curve Blue Abstract Print Twist Front Ma...,£45,Product
2,"<div class=""associated-product associated-prod...",EVANS Curve Black V-Neck Modal Rich T-Shirt,£18,Product
3,"<div class=""associated-product associated-prod...",EVANS Curve Black Linen Jogger,£35,Product
4,"<div class=""associated-product associated-prod...",EVANS Curve Natural Cream Mixed Leopard Print ...,£42,Product
...,...,...,...,...
1944,"<li class=""grid__item"">\n<link href=""//thecabi...",2 Drawer TV Stand M1,£239.59 GBP,Product
1945,"<li class=""grid__item"">\n<link href=""//thecabi...",Mid Quad Bookcase M1,£0.00 GBP,Product
1946,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Quad Bookcase M1,£181.76 GBP,Product
1947,"<li class=""grid__item"">\n<link href=""//thecabi...",Low 6 Drawer Chest M2,£364.62 GBP,Product
1948,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Triple Cupboard M2,£210.45 GBP,Product

In [103]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/ModelTraining/'
file_names = ['NonProducts.csv','Products.csv']

combined_df = pd.concat( 
    map(pd.read_csv, [file_path+'Lis.csv',file_path+'Divs.csv', file_path+'Products.csv']), ignore_index=True)

In [105]:
combined_df.to_csv(file_path+'combinedElements.csv')

In [106]:
combined_df

,html,category,name,price
0,"<li class=""mr-3 float-left"">\n<a class=""text-b...",Li,NaN,NaN
1,"<li class=""mr-3 float-left"">\n<a class=""text-b...",Li,NaN,NaN
2,"<li class=""mr-3 float-left"">\n<a class=""text-b...",Li,NaN,NaN
3,"<li class=""breadcrumb-item"">\n<a class=""btn bt...",Li,NaN,NaN
4,"<li class=""breadcrumb-item"">\n<a class=""btn bt...",Li,NaN,NaN
...,...,...,...,...
5226,"<li class=""grid__item"">\n<link href=""//thecabi...",Product,2 Drawer TV Stand M1,£239.59 GBP
5227,"<li class=""grid__item"">\n<link href=""//thecabi...",Product,Mid Quad Bookcase M1,£0.00 GBP
5228,"<li class=""grid__item"">\n<link href=""//thecabi...",Product,Low Quad Bookcase M1,£181.76 GBP
5229,"<li class=""grid__item"">\n<link href=""//thecabi...",Product,Low 6 Drawer Chest M2,£364.62 GBP
5230,"<li class=""grid__item"">\n<link href=""//thecabi...",Product,Low Triple Cupboard M2,£210.45 GBP

In [61]:
shop = "rollerblade"
c = pd.read_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/Divs.csv')
c

                                                   html name price
0     <div class="esw-warning esw-warning--lg esw-wa...
1     <div class="header-sticky">\n<div class="headi...
2     <div class="heading-bar">\n<div class="contain...
3     <div class="container">\n<label aria-expanded=...
4     <div class="d-flex align-self-stretch align-it...
...                                                 ...  ...   ...
1785  <div class="footer__payment">\n<span class="vi...
1786  <div class="footer__copyright caption">\n<smal...
1787  <div class="shopify-block shopify-app-block" i...
1788  <div class="shopify-block shopify-app-block" i...
1789  <div class="shopify-block shopify-app-block" i...

[1790 rows x 3 columns]