In [3]:
import pandas as pd #read files
from pathlib import Path

In [113]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/Non-Products/'
file_names = ['missdivaChildren.csv','yoursChildren.csv','tekshopChildren.csv','skatesChildren.csv','portopetsChildren.csv','rollerbladeChildren.csv','cabinetshopChildren.csv']

# Create an empty DataFrame to store merged data
nonProducts_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    nonProducts_df = pd.concat([nonProducts_df, productCSV], ignore_index=True)

nonProducts_df['category'] = "Not Product"
# Save the merged DataFrame to a new CSV file
nonProducts_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/NonProducts.csv', index=False)

In [115]:
nonProducts_df

,html,name,price,category
0,"<div class=""shopify-section"" id=""shopify-secti...",NaN,NaN,Not Product
1,"<div data-section-type=""cart-drawer""><div clas...",NaN,NaN,Not Product
2,"<div class=""cart-summary cart-summary--empty c...",NaN,NaN,Not Product
3,"<div aria-live=""polite"" class=""cart-summary__i...",NaN,NaN,Not Product
4,"<div class=""cart-summary__header cart-summary_...",NaN,NaN,Not Product
...,...,...,...,...
1135,"<li class=""list-payment__item"">\n\n</li>",NaN,NaN,Not Product
1136,"<li class=""list-payment__item"">\n\n</li>",NaN,NaN,Not Product
1137,"<li class=""list-payment__item"">\n\n</li>",NaN,NaN,Not Product
1138,"<li id=""a11y-refresh-page-message"">Choosing a ...",NaN,NaN,Not Product
1139,"<li id=""a11y-new-window-message"">Opens in a ne...",NaN,NaN,Not Product

In [121]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/Products/'
file_names = ['missdivaHeels.csv','yoursCrops&Shorts.csv','tekshopLaptop.csv','skatesScooters.csv','portopetsCats.csv','rollerbladeSkates.csv','cabinetshopItems.csv']

# Create an empty DataFrame to store merged data
products_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    products_df = pd.concat([products_df, productCSV], ignore_index=True)
products_df['category'] = "Product"
# Save the merged DataFrame to a new CSV file
products_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/Products.csv', index=False)

In [123]:
products_df

,html,name,price,category
0,"<div class=""product-block layout-align-above f...",Tani High Platform T-Bar Sandals in Black Patent,£39.99,Product
1,"<div class=""product-block layout-align-above f...",Lucie Kitten Heel Strappy Mule in Black,£29.99,Product
2,"<div class=""product-block layout-align-above f...",Tani High Platform T-Bar Sandals in Nude Patent,£39.99,Product
3,"<div class=""product-block layout-align-above f...",Mila High Stiletto Heel Court Shoe In Black Pa...,£35.00,Product
4,"<div class=""product-block layout-align-above f...",Amanda 3 Diamante Strap T-bar Block Heel Sanda...,£34.99,Product
...,...,...,...,...
1549,"<li class=""grid__item"">\n<link href=""//thecabi...",2 Drawer TV Stand M1,£239.59 GBP,Product
1550,"<li class=""grid__item"">\n<link href=""//thecabi...",Mid Quad Bookcase M1,£0.00 GBP,Product
1551,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Quad Bookcase M1,£181.76 GBP,Product
1552,"<li class=""grid__item"">\n<link href=""//thecabi...",Low 6 Drawer Chest M2,£364.62 GBP,Product
1553,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Triple Cupboard M2,£210.45 GBP,Product

In [125]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/ModelTraining/'
file_names = ['NonProducts.csv','Products.csv']

combined_df = pd.concat( 
    map(pd.read_csv, [file_path+'NonProducts.csv', file_path+'Products.csv']), ignore_index=True)

In [127]:
combined_df.to_csv(file_path+'combinedElements.csv')

In [177]:
shop = "yours"
c = pd.read_csv('/Users/Tico/Documents/Masters/LaMona/CSV/Non-Products/'+shop+'Li.csv')
c

                                                  html  name  price
0    <div class="esw-warning esw-warning--lg esw-wa...   NaN    NaN
1    <div class="header-sticky">\n<div class="headi...   NaN    NaN
2    <div class="heading-bar">\n<div class="contain...   NaN    NaN
3    <div class="container">\n<label aria-expanded=...   NaN    NaN
4    <div class="d-flex align-self-stretch align-it...   NaN    NaN
..                                                 ...   ...    ...
380  <div class="nav flex-column rounded">\n<div cl...   NaN    NaN
381  <div class="filter-group__meta mb-1">\r\n\r\n\...   NaN    NaN
382  <div class="d-lg-flex flex-lg-column flex-lg-w...   NaN    NaN
383  <div class="filter-group__col" style="grid-tem...   NaN    NaN
384  <div class="d-lg-none nav-link filter-group__c...   NaN    NaN

[385 rows x 3 columns]