In [177]:
import pandas as pd #read files
from pathlib import Path

In [297]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/Non-Products/'
file_names = ['missdivaChildren.csv','yoursChildren.csv','tekshopChildren.csv','skatesChildren.csv','portopetsChildren.csv','rollerbladeChildren.csv','cabinetshopChildren.csv']

# Create an empty DataFrame to store merged data
nonProducts_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    nonProducts_df = pd.concat([nonProducts_df, productCSV], ignore_index=True)

nonProducts_df['category'] = "Not Product"
# Save the merged DataFrame to a new CSV file
nonProducts_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/NonProducts.csv', index=False)

In [299]:
nonProducts_df

,html,name,price,category
0,"<li class=""disclosure-list__item"">\n<a class=""...",NaN,NaN,Not Product
1,"<a class=""disclosure-list__option disclosure-o...",NaN,NaN,Not Product
2,"<span class=""disclosure-option-with-parts__par...",NaN,NaN,Not Product
3,"<span class=""disclosure-option-with-parts__par...",NaN,NaN,Not Product
4,"<li class=""disclosure-list__item"">\n<a class=""...",NaN,NaN,Not Product
...,...,...,...,...
1259,"<input name=""options[prefix]"" type=""hidden"" va...",NaN,NaN,Not Product
1260,"<button aria-label=""Search"" class=""search__but...",NaN,NaN,Not Product
1261,"<div class=""predictive-search predictive-searc...",NaN,NaN,Not Product
1262,"<div class=""predictive-search__loading-state"">...",NaN,NaN,Not Product
1263,"<span aria-hidden=""true"" class=""predictive-sea...",NaN,NaN,Not Product

In [311]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/CSV/Products/'
file_names = ['missdivaHeels.csv','yoursCrops&Shorts.csv','tekshopLaptops.csv','skateScooters.csv','portopetsCats.csv','rollerbladeSkates.csv','cabinetshopItems.csv']

# Create an empty DataFrame to store merged data
products_df = pd.DataFrame()

# Merge CSV files
for filename in file_names:
    productCSV = pd.read_csv(file_path+ filename)
    products_df = pd.concat([products_df, productCSV], ignore_index=True)
products_df['category'] = "Product"
# Save the merged DataFrame to a new CSV file
products_df.to_csv('/Users/Tico/Documents/Masters/LaMona/ModelTraining/Products.csv', index=False)

In [313]:
products_df

,html,name,price,category
0,"<div class=""product-block layout-align-above f...",Tani High Platform T-Bar Sandals in Black Pate...,£39.99,Product
1,"<div class=""product-block layout-align-above f...",Lucie Kitten Heel Strappy Mule in Black\n ...,£29.99,Product
2,"<div class=""product-block layout-align-above f...",Tani High Platform T-Bar Sandals in Nude Paten...,£39.99,Product
3,"<div class=""product-block layout-align-above f...",Mila High Stiletto Heel Court Shoe In Black Pa...,£35.00,Product
4,"<div class=""product-block layout-align-above f...",Amanda 3 Diamante Strap T-bar Block Heel Sanda...,£34.99,Product
...,...,...,...,...
1044,"<li class=""grid__item"">\n<link href=""//thecabi...",2 Drawer TV Stand M1,£239.59 GBP,Product
1045,"<li class=""grid__item"">\n<link href=""//thecabi...",Mid Quad Bookcase M1,£0.00 GBP,Product
1046,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Quad Bookcase M1,£181.76 GBP,Product
1047,"<li class=""grid__item"">\n<link href=""//thecabi...",Low 6 Drawer Chest M2,£364.62 GBP,Product
1048,"<li class=""grid__item"">\n<link href=""//thecabi...",Low Triple Cupboard M2,£210.45 GBP,Product

In [315]:
#merging NonProducts into single csv
# List of CSV file names to merge
file_path = '/Users/Tico/Documents/Masters/LaMona/ModelTraining/'
file_names = ['NonProducts.csv','Products.csv']

combined_df = pd.concat( 
    map(pd.read_csv, [file_path+'NonProducts.csv', file_path+'Products.csv']), ignore_index=True)

In [319]:
combined_df.to_csv(file_path+'combinedElements.csv')